
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: #f8f4f459;
}

canvas {
	display: block;
	background: #ffffff;
	border: 2px solid #333;
	box-shadow: 0 4px 16px rgba(0,0,0,0.3);
}
